body{
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
    font-size: 16px;
    font-feature-settings: "palt";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    background-color: #263238;
    overscroll-behavior-y: none;
}

.container{
    
}


header{
    height: 60px;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
}

.team_container{
    display: flex;
    justify-content: space-between;

}

.team_img{
    margin: 20px; 
    margin-bottom: 20px;
    align-items: center; 
    width: 30px;
    height: 30px; 
}

.upper_container{
    display: flex;
    justify-content: start;
    
}

.logo{
    margin-right: 20px;
}

ul{
    margin-left: 80px;
    background-color: rgb(194, 140, 140);
    display: flex;
}

li{
    list-style: none;
}

.jump{
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
}
.jump:hover{
    color: blue;
}

h2{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}



td{
    color: black;
}

.川崎{
    display: flex;
}

.川崎F{
    margin-bottom: 5%;
    margin-right: 5%;
}

.横浜FM{
    margin-bottom: 5%;
    margin-right: 5%;
}

.横浜{
    display: flex;
}

.鳥栖{
    display: flex;
}   

.サガン鳥栖{
    margin-bottom: 5%;
    margin-right: 5%;
}

.神戸{
    display: flex;
}

.ヴィッセル神戸{
    margin-bottom: 5%;
    margin-right: 5%;
}

.table_team_img{
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
table{
    width: 100%;
    border-collapse: collapse;
}

table tr{
    border-bottom: solid 2px white;
}

table tr:last-child{
    border-bottom: none;
}

table th{
    position: relative;
    text-align: left;
    width: 30%;
    background-color: #52c2d0;
    color: white;
    text-align: center;
    padding: 10px 0;
}

table th:after{
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top:calc(50% - 10px);
    right:-10px;
    border-left: 10px solid #52c2d0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

table td{
    text-align: left;
    width: 70%;
    text-align: center;
    background-color: #eee;
    padding: 10px 0;
}





footer{
    
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #37474f;;
    font-size: 15px;
    color: #fff;
    
}